input[type='search'] {
  font-size: 1.25em;
  padding: 1rem 2.2rem 1rem 2.2rem;
  border: none;
  border-radius: 0.8rem;
  text-align: center;
  width: calc(100% - 2rem);
}

@media (prefers-color-scheme: light) {
  input[type='search'] {
    background-color: hsl(226, 12%, 26%);
    color: hsl(0, 0%, 96%);
  }
}

input[type='search']:focus {
  outline: none;
}

.search-options {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: baseline;
}

.search-options span {
  color: hsl(0, 0%, 100%);
  font-size: 1.25em;
  letter-spacing: 0.1rem;
  margin: 0 2.2rem;
}

@media (max-width: 456px) {
  .search-options {
    align-items: center;
    flex-flow: column-reverse nowrap;
  }

  .search-options span {
    margin: 0.4rem 0;
  }
}

.search {
  background-color: hsl(0, 0%, 100%);
  border-radius: 0.8rem;
  min-width: 29.5rem;
  position: relative;
}

.search__button {
  /* Button svg is now the same color as the background. */
  color: hsl(208, 19%, 17%);
  position: absolute;
  right: 25px;
  z-index: 1;
  top: 0;
  left: 88%;
  bottom: 0;
  background-color: hsl(0, 0%, 94%);
  border-top-right-radius: inherit;
  border-bottom-right-radius: inherit;
  width: 35px;
}

@media (prefers-color-scheme: light) {
  .search__button {
    background-color: hsl(229, 12%, 18%);
    color: hsl(28, 50%, 78%);
  }
}

#search-city::-webkit-search-cancel-button {
  display: none;
}
