.weather-container {
  display: flex;
  flex-flow: row nowrap;
  max-width: 65rem;
  min-width: 30rem;
  width: 100%;
  margin-bottom: 4.8rem;
  background-color: var(--weather-bg-color);
  color: var(--weather-primary-color);
  border-radius: 2.4rem;
  border: 1.4rem solid hsl(226, 12%, 31%);
}

@media (max-width: 768px) {
  .weather-container {
    flex-flow: column nowrap;
    max-width: 35rem;
  }
}

.weather {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 4.8rem;
  min-width: 35rem;
  background-color: hsl(210, 19%, 13%);
  border-top-left-radius: inherit;
  border-bottom-left-radius: inherit;
  border-right: inherit;
}

@media (max-width: 768px) {
  .weather {
    border-right: none;
    border-top-right-radius: inherit;
    border-bottom-left-radius: initial;
    border-bottom: inherit;
    min-width: 0;
    padding: 3.2rem;
  }
}

.weather__image {
  object-fit: none;
  height: 10rem;
  width: 15rem;
}

.location {
  font-weight: 500;
  font-size: 3.2rem;
  letter-spacing: 1.5px;
  margin-top: 2.2rem;
}

.weather__country,
.weather__phrase {
  color: var(--weather-secondary-color);
}

.description {
  display: flex;
  flex-flow: row wrap;
  font-weight: 700;
  font-size: 2rem;
  justify-content: center;
  letter-spacing: 1px;
  margin-top: 0.8rem;
  white-space: pre-wrap;
}

.weather-misc {
  align-items: baseline;
  background-color: hsl(210, 19%, 13%);
  border-top-right-radius: inherit;
  border-bottom-right-radius: inherit;
  display: flex;
  flex-direction: column;
  font-size: 1.25em;
  font-weight: 300;
  padding: 3.2rem 3.2rem 2.2rem 3.2rem;
  width: 100%;
}

@media (max-width: 768px) {
  .weather-misc {
    border-top-right-radius: initial;
    border-bottom-left-radius: inherit;
  }
}

.row {
  align-items: baseline;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.row__col--1 {
  color: var(--col-1-color);
}

.row__col--2 {
  color: var(--col-2-color);
}
