.hidden {
  visibility: hidden;
}

.alert {
  max-width: 36rem;
  margin: 3.2rem 0;
  width: 100%;
}

@media (max-width: 768px) {
  .alert {
    margin-bottom: 0;
  }
}

.alert--error {
  background-color: hsl(0, 93%, 94%);
  border-bottom: 2px solid hsl(0, 84%, 60%);
  color: hsl(210, 19%, 13%);
}

.alert-container {
  display: flex;
  flex-flow: row nowrap;
  align-items: baseline;
  padding: 0.4rem;
}

.icon {
  line-height: 1;
  min-height: 3.2rem;
  min-width: 3.2rem;
  background-color: hsl(0, 100%, 98%);
  border-radius: 9999px;
  margin: 1.4rem;
  display: grid;
  place-items: center;
}

.icon--error {
  border: 2px solid hsl(0, 91%, 71%);
  color: hsl(0, 63%, 31%);
}

.message {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.message__header {
  font-weight: 500;
  font-size: 1.25em;
  line-height: 1.2;
}

.message__header--error {
  color: hsl(0, 63%, 31%);
}

.message__text {
  font-size: 1em;
  padding: 0.4rem 1.2rem 2.2rem 0;
}
