/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* ------------ End of CSS Reset ------------ */

*,
*::after,
*::before {
  box-sizing: border-box;
}

@media screen and (prefers-reduced-motion: reduce), (update: slow) {
  *,
  *::before,
  *::after {
    animation-duration: 0s !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0s !important;
    transition-delay: 0s !important;
    animation-delay: 0s !important;
  }
}

*:focus:not(:focus-visible) {
  outline: none;
}

*:focus-visible {
  outline: 2px auto red;
}

/* Default is dark theme. */
:root {
  /* index.css */
  --bg-color: hsl(232, 20%, 17%);
  --font-color: hsl(0, 0%, 96%);
  --scrollbar-bg-color: hsl(215, 14%, 34%);

  /* Geolocation.css */
  --geo-bg-color: hsl(234, 62%, 60%);

  /* SystemButton.css */
  --switch-selected-color: hsl(203, 90%, 84%);

  /* Weather.css */
  --weather-bg-color: hsl(226, 12%, 31%);
  --weather-primary-color: hsl(0, 0%, 100%);
  --weather-secondary-color: hsl(225, 9%, 67%);

  --col-1-color: hsl(0, 0%, 100%);
  --col-2-color: hsl(192, 56%, 64%);
}

[data-theme='light'] {
  /* index.css */
  --bg-color: hsl(35, 50%, 78%);
  --font-color: hsl(0, 0%, 7%);
  --scrollbar-bg-color: hsl(0, 0%, 72%);

  /* Geolocation.css */
  --geo-bg-color: hsl(238, 35%, 41%);

  /* SystemButton.css */
  --switch-selected-color: hsl(217, 61%, 70%);

  /* Weather.css */
  --weather-bg-color: hsl(226, 12%, 31%);
  --weather-primary-color: hsl(28, 50%, 78%);
  --weather-secondary-color: hsl(0, 0%, 77%);

  --col-1-color: hsl(28, 50%, 78%);
  --col-2-color: hsl(0, 0%, 96%);
}

html {
  background-color: var(--bg-color);
  color: var(--font-color);
  display: flex;
  font-size: 62.5%;
  min-height: 100%;
  transition: color 300ms, background-color 300ms;
}

@media (prefers-color-scheme: light) {
  html {
    background-color: hsl(35, 50%, 78%);
  }
}

body {
  display: flex;
  flex: 1;
  flex-flow: column nowrap;
  font: 16px/1.65 system-ui, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
    Helvetica Neue, sans-serif;
  font-size: 1.6em;
  line-height: 1.65;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button {
  border: none;
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.2;
}

header {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  width: 100%;
  max-width: 1100px;
  margin-left: auto;
  margin-right: auto;
  padding: 2rem 3.2rem;
  font-size: 2.4rem;
}

/* svg in header, will fix later */
header button {
  border: none;
  background: inherit;
  color: inherit;
  font-size: inherit;
}

@media (prefers-color-scheme: light) {
  header h1 {
    color: hsl(0, 0%, 7%);
  }

  header button {
    color: hsl(0, 0%, 7%);
  }
}

main {
  align-items: center;
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: flex-start;
  padding-top: 9.5rem;
}

@media (max-width: 768px) {
  main {
    margin: 10%;
    padding-top: 0;
  }
}

body::-webkit-scrollbar {
  background-color: var(--scrollbar-bg-color);
  width: 1.4rem;
}

body::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 0.3rem;
}

body::-webkit-scrollbar-thumb {
  background-color: hsl(218, 11%, 65%);
  border-radius: 0.5rem;
}

/* Hide label text for Assistive Technology.
    More info here: 
    https://www.a11ymatters.com/pattern/accessible-search/#include-a-meaningful-description-in-the-label
*/
.a11y-label {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
}
